<h2> Add new spread </h2>

<%= form_with scope: :spread, url: spreads_path, local: true do |form| %>
  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
